.Portfolio-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color-primary-variant);
  padding: 0;
  margin-top: 20rem;
}

.Portfolio-container span {
  padding-top: 1rem;
  padding-bottom: 4rem;
}

.cards-wrapper {
  display: flex;
  justify-content: center;
}

.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  gap: 3rem;
}

.card {
  width: 100%;
  height: 100%;
  max-width: 400px;
  min-width: 220px;
  background: #07182e;
  position: relative;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
}

.card h2 {
  z-index: 1;
  color: white;
  font-size: 2em;
}

.card::before {
  content: "";
  position: absolute;
  width: 100px;
  background-image: linear-gradient(
    180deg,
    rgb(0, 183, 255),
    rgb(255, 48, 255)
  );
  height: 130%;
  animation: rotBGimg 40s linear infinite;
  transition: all 0.2s linear;
}

h4 {
  margin-bottom: 0;
}

.svgContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 1rem;
}

.svgContainer img {
  height: 3rem !important;
  width: 3rem !important;
  padding-left: .5rem;
  padding-right: .5rem;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card::after {
  content: "";
  position: absolute;
  background: #07182e;
  inset: 5px;
  border-radius: 15px;
}
/* .card:hover:before {
  background-image: linear-gradient(180deg, rgb(81, 255, 0), purple);
  animation: rotBGimg 3.5s linear infinite;
} */

.card h4 {
  text-align: center;
  margin-top: 1rem;
}

.card img {
  height: 18rem;
  width: 80%;
  object-fit: cover;
  z-index: 1;
  padding-top: 2rem;
}

.card a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}

.container-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  z-index: 1;
}

.appName {
  z-index: 1;
}

.container-buttons a {
  padding: 0;
}

.container-buttons button {
  background-color: var(--color-primary);
  padding: 0.1rem;
}

.container-buttons button :only-child {
  height: 2rem;
  width: 3rem;
  color: var(--color-white);
}

.container-pagination {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  padding-bottom: 26rem;
}

.container-pagination :first-child {
  display: flex;
  flex-direction: row;
  color: var(--color-white);
}

@media (min-width: 1000px) {
  .cards-container {
    flex-direction: row;
  }
}

@media (min-width: 1920px) {
  .Portfolio-container h1 {
    padding-top: 1rem;
  }
}
