.container.contact__container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container.contact__container span {
  padding-bottom: 5rem;
}

.contact-options-wrapper {
  display: flex;
  justify-content: center;
}

.contact-options-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
  padding-bottom: 1rem;
}

.contact__option {
  background: var(--color-bg-variant);
  padding: 1.2rem;
  text-align: center;
  transition: var(--transition);
  width: 90%;
  max-width: 400px;
  min-width: 320px;
}

.contact__option-icon {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.contact__option a {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 1rem;
  color: var(--color-white);
  text-decoration: none;
}

.explicacion-form {
  padding-top: 8rem;
}

.auto-typed-container-contact {
  height: 4rem;
  padding-bottom: 0 !important;
  padding-top: 6rem !important;
  font-size: x-large;
}

/* =========== FORM =========== */

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

input,
textarea {
  padding: 0.8rem;
  background: transparent;
  border: 2px solid var(--color-primary-variant);
  resize: none;
  color: var(--color-white);
}

.btn-send {
  background-color: var(--color-bg-variant);
  padding: 0.8rem;
  color: var(--color-white);
  margin-bottom: 1rem;
}

@media (min-width: 800px) {
  .contact__option {
    max-width: 400px;
    min-width: 420px;
  }

  .form-wrapper {
    display: flex;
    justify-content: center;
  }

  .form-container {
    max-width: 500px;
  }

  .explicacion-form :first-child {
    font-size: large !important;
  }
}

@media (min-width: 1000px) {
  .contact-options-container {
    flex-direction: row;
    width: 100%;
  }

  .contact__option {
    min-width: 220px;
  }
}

@media (min-width: 1920px) {
  .container.contact__container h1 {
    padding-top: 1rem;
  }
}
