.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  position: fixed;
  height: 100vh;
  background-color: var(--color-bg-variant);
}

img {
  width: 100%;
  height: 10rem;
  padding-bottom: 2rem;
}
