@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap");

:root {
  --color-bg: #00051c;
  --color-bg-variant: #301e67;
  --color-primary: #5b8fb9;
  --color-primary-variant: #b6eada;
  --color-white: #fff;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--color-bg);
}

.App {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

section {
  color: var(--color-primary-variant);
  width: 100%;
}

a {
  cursor: pointer;
  transition: all 400ms ease;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
  font-size: x-large;
  color: var(--color-primary-variant);
}

ul li {
  padding-bottom: 1rem;
}

h1 {
  font-size: 2.8rem;
}

h1 span {
  color: var(--color-primary);
  font-size: 2.8rem
}

h4 {
  font-size: 1rem;
}

button {
  cursor: pointer;
  border: none;
}

.sections-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.sections-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0;
  padding: 0;
}

.container-burguerButton {
  position: fixed;
  display: flex;
  justify-content: end;
  width: 90%;
  z-index: 6;
  padding: 1rem;
}

@media (min-width: 800px) {
  .container-burguerButton {
    display: none;
  }

  h1 {
    font-size: 4.4rem;
  }

  h1 span {
    font-size: 4.4rem !important;
  }

  h4 {
    font-size: 2rem;
  }

  h5 {
    font-size: 1.2rem;
  }
}

@media (min-width: 1000px) {
  .sections-wrapper {
    display: flex;
    justify-content: end;
  }

  .sections-container {
    width: 80%;
  }

  .navbar-container {
    display: flex;
    width: 20%;
    height: 100%;
  }
}
