@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap");

:root {
  --color-bg: #00051c;
  --color-bg-variant: #301e67;
  --color-primary: #5b8fb9;
  --color-primary-variant: #b6eada;
  --color-white: #fff;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--color-bg);
}

section {
  color: var(--color-primary-variant);
}

a {
  cursor: pointer;
  transition: all 400ms ease;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
  font-size: x-large;
  color: var(--color-primary-variant);
}

ul li {
  padding-bottom: 1rem;
}

h1 {
  font-size: 6rem;
}

h1 span {
  color: var(--color-primary);
}

h4 {
  font-size: 1.5rem;
}

button {
  cursor: pointer;
  border: none;
}

.App {
  display: flex;
  flex-direction: column;
}

.sections-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  margin-left: 20%;
  padding: 1em;
}

.container-burguerButton {
  position: fixed;
  display: flex;
  justify-content: end;
  width: 90%;
  z-index: 6;
}

@media (max-width: 450px) {
  .sections-container {
    margin: 0;
    padding: 0;
    align-items: center;
  }

  .container-burguerButton {
    padding: 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  h4 {
    font-size: 0.8rem;
  }

  span {
    font-size: 0.8rem;
  }

  section {
    width: 90%;
  }
}
