.AboutMe-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  color: var(--color-primary-variant);
  max-width: 100%;
}

.AboutMe-container button {
  color: var(--color-primary-variant);
  width: 9rem;
  height: 2.2rem;
  margin-top: 1rem;
  background-color: var(--color-primary);
}

.first-word-title {
  font-size: xx-large;
}
